*.bin
*.elf
*.o
*.a
os.img
libk.a
kernel/src/**/*.o
kernel/src/*.o
libk/src/*.o
drivers/src/*.o
bootloader/*.bin
bootloader/*.elf
bootloader/*.o
bootloader/bpb.bin
bootloader/stage1_patched.bin
bootloader/parser.elf
bootloader/parser.bin
compile_commands.json
.cache
.denali.toml
